 .projects-container {
    margin-top: 3%;
  }

  
  
  .project-card {
    margin-top:3%;
    margin-left:10%;
    margin-right:10%;
      padding-right:3%;
      padding-left:3%;
     font-size: 25px;
    border: 1px solid lightgray;
     border-radius: 2%; 
  }
    
  .project-card li {
    font-size: 15px;
    margin-left: 5%;
  }
